{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load patient_mgm_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1> {% trans user.username %}! {% trans "Welcome to Doctor Add Patient Page" %}</h1>
    
    {% if user.is_authenticated %}

        <ul>
            <li><a href="{% url my_patients %}">{% trans "My Patients" %}</a></li>
            <!--<li><a href="{% url all_patients %}">{% trans "All Patients" %}</a></li>-->
        </ul>
    {% else %}
        &nbsp;
    {% endif %}

    {% blocktrans %}
     
    {% endblocktrans %}
    {% if patientlist %}
        <table>
            <tr>
                <td>
                    Patient Name
                </td>
                <td>
                    Health Status
                </td>
                <td>
                    Psychological Condition
                </td>
                <td>
                    Sociability
                </td>
                <td>
                    Add Patient To your Watch List
                </td>
            </tr>
        {% for patient in patientlist %}

            <tr>
                <td>
                    {% trans patient.username %}
                </td>
                <td>
                    {% trans patient.healthstatus %}
                </td>
                <td>
                    {% trans patient.psychostatus %}
                </td>
                <td>
                    {% trans patient.sociability %}
                </td>
                <td>
                    <form action="{% url add_patient %}" method="post">
                    {% csrf_token %}
                        <input type="submit" name="patient_name" id="choice{{ forloop.counter }}" value="{{ patient.username }}" class="btn primary large"/>
                    </form>
                </td>
            </tr>            
        {% endfor %}
        </table>
    
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    
   
{% endblock %}

{% block column-1 %}
{% endblock %}
{% block column-2 %}
{% endblock %}
{% block column-3 %}
{% endblock %}
{% block column-4 %}
{% endblock %}


